.post-row {
    padding: 10px;
    background-color: gainsboro;
    margin: 10px;
}

.post-content {
    font-style: italic;
    font-size: x-large;
}

.profile {
    background-color: aliceblue;
    padding: 20px;
    margin: 40px 10px 40px 10px;
}
