/* NOTE:    This app's look & feel is also affected by Boostrap CSS and UTF-8 emojis.  
            Any changes made here should be tested to make sure they're compatible. 
            For example, not all button colors will work with emojis used as button icons.
*/


/* MAIN SECTIONS ALIGNMENT */

footer,
.pagination,
.post-row,
#posts-list h2 {
    padding: 10px;
}

.post-row,
#main-alert,
#new-post {
    margin: 10px;
}


/* POSTS */

.post-row {
    background-color: #E6E6E6;
    border-radius: 3px;
}

.post-content {
    font-size: x-large;
    font-style: italic;
}

.likes-count {
    margin-left: 0.5rem;
}


/* USER PROFILES */

#user-profile {
    border-radius: 3px;
    margin: 40px 10px 40px 10px;
    padding: 20px;
}

#user-profile img {
    border-radius: 10px;
    max-width: 75%;
}


/* POST FORMS AND PSEUDO-FORMS */

#new-post textarea {
    min-width: 100%;
    padding: 1rem;
}

#save-button,
#submit-post {
    display: block;
    margin-top: 1%;
}


/* ALERTS */

/* DEPENDENCY: if the fade out delay or duration are modified, the timout in displayAlert in network.js must be updated to match */
.alert {
    animation-delay: 10s;
    animation-duration: 2s;
    animation-name: fade_out;
    display: none;
}

@keyframes fade_out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}