{% extends "network/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}

    {# TO DO:  Confirm that we're using this #}
    {# Placeholder for error messages #}
    <div id="main-alert">
    </div>

    {# If we're on the profile page, show the profile.  Otherwise, show the post form to authenticated users #}
    {% if profile %}
        <div class="profile container bg-info" id="user-profile">
            <div class="row">

                <div class="col-sm-3">
                    {# CITATION: Image by Stephanie Edwards from Pixabay #}
                    <img src="{% static 'network/avatar.png' %}" alt="Profile avatar">
                </div>
                
                <div class="col-sm-9">
                    <h2>{{profile.username}}</h2>
                    <button id="follow-button" class="btn btn-primary" data-user="{{profile.id}}">CHEATING FOLLOW</button>
                    <p>Followers:  <span id="followers-count">{{profile.followers_count}}</span></p>
                    <p>Following:  <span id="following-count">{{profile.following_count}}</span></p>
                    {% if profile != user and user.is_authenticated %}
                    <button id="follow-button" class="btn btn-primary" data-user="{{profile.id}}">
                        {% if user in profile.followers.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                    {% endif %}
                </div> 

            </div>
        </div>
    {% else %}
        {% if user.is_authenticated %}
        <div id="new-post">
            <form action="{% url 'post_add' %}" method="post">
                {% csrf_token %}
                {{ post_form }}
                <input id="submit-post" class="btn btn-primary" type="submit">
            </form>
        </div>
        {% endif %}
    {% endif %}

    <div id="posts-list">

        <h2>{{title}}</h2>
        {% if page %}
            {% for post in page %}
            <div class="post-row" data-post="{{post.id}}">
                <div class="post-content">{{post.content}}</div>  
                <p>By <a href="{% url 'view_profile' post.author.id %}">{{post.author}}</a> on 
                    {% if user.is_authenticated %}
                        {{post.timestamp|timezone:user.timezone}}
                    {% else %}
                        {{post.timestamp}}
                    {% endif %}
                </p>
                <p>
                    {% if post.author != request.user and user.is_authenticated %}
                        {# CITATION:  A friend suggested using emojis as icons. #}
                        {# This approach depends on the button background color and emoji colors being compatible.  That is safe to assume for this assignment, but maybe not in production #}
                        {% if user in post.liker.all %}
                            <button class="like-button btn btn-primary" data-post="{{post.id}}" title="Unlike this post">&#10084;&#65039; <span class="sr-only">Unlike this post</span></button>
                        {% else %}
                            <button class="like-button btn btn-primary" data-post="{{post.id}}" title="Like this post">&#129293; <span class="sr-only">Like this post</span></button>
                        {% endif %}
                    {% elif post.author == request.user and user.is_authenticated %}
                        <button class="edit-button btn btn-primary" data-post="{{post.id}}" title="Edit this post">&#9999;&#65039; <span class="sr-only">Edit this post</span></button>
                    {% endif %}
                    <span class="likes-count">{{post.likes_count}}</span> Like{{ post.likes_count|pluralize }}
            </p>    
            </div>
            {% endfor %}
        

            {# CITATION:  based on the Vacara example in Vlad's section #}
            <nav role="navigation">
                <ul class="pagination">
                {% if page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}">Previous</a></li>
                {% endif %}

                <li class="page-item"><a class="page-link" href="?page={{page.number}}">{{page.number}}</a></li>

                {% if page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">Next</a></li>
                {% endif %}
                </ul>
            </nav>

        {% endif %}
    </div>


{% endblock %}

