{% extends "network/layout.html" %}

{% block body %}

    {# TO DO:  DO I STILL NEED THIS? #}
    {# Make authenticated status available to JavasScript #}
    {{ user.is_authenticated|json_script:"authenticated" }}

    {% if user.is_authenticated %}
        <div id="new-post">
            <form action="{% url 'post_add' %}" method="post">
                {% csrf_token %}
                {{ post_form }}
                <input id="submit-post" class="btn btn-primary" type="submit">
            </form>
        </div>
    {% endif %}

    <div class="body" id="posts-list">
        <h2>Posts - Django</h2>
        {% for post in page %}
        <div class="post-row" data-post="{{post.id}}">
            <p class="post-content">{{post.content}}</p>  
            <p>By {{post.author}} on {{post.timestamp}} {{post.likes_count}} Likes</p>
            {% if post.author != request.user %}
                <button class="like-button" data-post="{{post.id}}">Like/Unlike</button>
            {% endif %}
        </div>
        {% endfor %}

        {# CITATION:  based on the Vacara example in Vlad's section #}
        <nav role="navigation">
            <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}">Previous</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="?page={{page.number}}">{{page.number}}</a></li>

            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">Next</a></li>
            {% endif %}
            </ul>
        </nav>
    </div>


{% endblock %}

